/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~@angular/material/theming';


$custom-typography: mat-typography-config(
  $font-family: 'Raleway, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($custom-typography);

body{
	font-family: 'Raleway', sans-serif;
}

.form-box {
	background-color: #f7f7f7;
	border-radius: 5px;
	text-align: center;
	padding: 5vh;
	margin-top: 15vh;
}

.login-form {
	display: flex;
	flex-direction: column;
}

.signup-form {
	padding: 1vh;
	display: flex;
	flex-direction: column;
}

.bottom-buttons {
	text-align: right;
}